body {
    font-family: "Poppins", sans-serif;
    background-color: #d8ffcb;;
    margin: 0;
    padding: 0;
}

#container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #006852;
}

h3 {
    color: #00513f;
}

textarea[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 400px;
}

input:focus, textarea:focus {
    outline: 2px solid rgb(218, 135, 135);
}

select,
button {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: rgb(186, 80, 80);
    color: #FFFFFF;
    border: none;
}

button:hover {
    background-color: rgb(218, 135, 135);
}

#resposta {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #D0D3D4;
    border: 1px solid #63666A;
    text-align: left;
    display: none;
}